<div class="container">
      
      <div class="blog-header">
        <h1 class="blog-post-title">Attach 2FA Device</h1>
        <p class="lead blog-description">Here you can attach a device to your account using a QR code.</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <p class="blog-post-meta">
              Logged in as
              <strong>{{user.email}}</strong>
            </p>
            <p>We've generated a qr code for you to scan with your device!</p>
            <div class="row">
                <img src="data:image/png;base64,{{qr}}"/>
            </div>
            <p>Don't worry, the system will <strong>only register your device</strong> as a second factor of authentication <strong>once you've answerd:</strong></p>
            <p id="timer-text">Hurry you only have <strong id="timer">60</strong> seconds!</p>
            <script type="text/javascript">
                var el = document.getElementById("timer"),
                    secs = 60;

                function countDown() {
                    if (secs) {
                        setTimeout(countDown, 1000);
                    }
                    el.innerHTML = secs;
                    secs -= 1;
                    if(secs == 0){
                        document.getElementById("timer-text").innerHTML = "You're out of time. Please refresh the page to generate a new key!";
                    }
                }

                countDown();
            </script>
            <form class="form-inline" action="do-attach-device" method="post">
                <div class="form-group">
                    <label for="answer" class="sr-only">Answer</label>
                    <input type="text" class="form-control" name="answer" value="{{answer}}" id="answer" placeholder="Code from device">
                    <input type="hidden" name="devid" value="{{devid}}"/>
                    <!--<input type="hidden" name="key" value={{!key}}/>-->
                </div>
                <div class="form-group">
                    <label for="devname" class="sr-only">Device Name</label>
                    <input type="text" class="form-control" name="devname" id="devname" placeholder="Nickname for your device">
                </div>
                <button type="submit" class="btn btn-primary">Attach device</button>
            </form>
        

            
          </div><!-- /.blog-post -->

          <!--<nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>-->

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->