<div class="container">
    {{#if message.length}}
      <div class="alert alert-danger">{{message}}</div>
    {{/if}}

    {{#each devices}}
        <form class="form-signin" role="form" action="/do-second-factor" method="POST">
            <input type="hidden" name="devid" value="{{devid}}"/>
            <div class="alert bg-info">
                <pre>{{deviceName}}<br/><code>Added: {{created_at}}</code></pre>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Choose this device</button>
            </div>
        </form>
        
    {{/each}}
</div> <!-- /container -->
