<!-- device form -->

<form action="do-2fa" method="post">
    <input type="hidden" value="{{device}}"></input>
    <pre><code>{{device}}</code></pre>
</form>
<p>View, <a href="/attach-device">attach</a> or detatch your authentication devices here.</p>

<pre><code>2. Apple iPad pro 9.7 128GB A9x </code></pre>